
*{
    
}
.logo{
    height: 60px;
    width: 200px;
}

ul li{
    display: inline-block;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
}

ul li a{
    text-decoration: none;
    position: relative;
    padding:15px;
    margin-right: 20px;
    font-size: large;
    font-weight: bold;
    color: black;
    letter-spacing: 1px;
    transition: 0.2s ease-in;
    

}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    
}
.host{
    height: 450px;
    position: absolute;
    top: 130px;
    left: 870px;
}

.cv-btn{
    position: absolute;
    top:500px;
    left: 200px;
    padding: 10px;
    background-color: rgb(243, 187, 84);
    width: 250px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    color: white;
    cursor: pointer;
}

.sect{
    height: 200px;
    width: 400px;
    position: absolute;
    top: 200px;
    left: 200px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

.name{
    font-size: 30px;
    letter-spacing: -1.6px;
    
}

p{
    text-align: justify;
}

.shape{
    height: 500px;
    width: 500px;
    background-color: rgb(243, 187, 84);
    position: absolute;
    border-radius: 50%;
    top: -45%;
    left: 400px;
    z-index: 10;

}

ul li a:hover{
    color:
}

.abt-head{

    position: absolute;
    top: 700px;
    left: 750px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.host-about{
    height: 400px;
    position: absolute;
    top: 830px;
    left: 200px;
    border-radius: 10px;
}

.details{
    width: 450px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    text-align: justify;
    top: 820px;
    left: 750px;
    font-size: 20px;
}
html{
    font-family: sans-serif;
    
}

.skills {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 70px);
    margin: 20px;
  }
 .skl{
     margin-left: 20px;
     color: yellow;
 }
.sklLine{
    position: relative;
    bottom: 8px;
    visibility: hidden;
    padding-left: 6px;
    color: greenyellow;
}
  .ProgWidth {
    padding: 0px 20px;
  }
  .skillDiv {
    height: 5px;
    width: 100%;
    background-color: gray;
  }
  .skillBar {
    display: block;
    height: 5px;
    background-color: rgb(244, 196, 51);
  }
  .p {
    display: flex;
    justify-content: space-between;
  }

  .htmlBar {
    width: 70%;
    animation: html 3s 1s 5 forwards;
  }
  .cssBar {
    width: 70%;
    animation: css 3s 1s 5 forwards;
  }
  .jsBar {
    width: 75%;
    animation: js 3s 1s 5 forwards;
  }
  
  .javaBar {
    width: 85%;
    animation: java 3s 1s 5 forwards;
  }
  .ccpBar {
    width: 80%;
    animation: ccp 3s 1s 5 forwards;
  }
  .reactBar {
    width: 10%;
    animation: react 3s 1s 5 forwards;
  }
  .nodeBar {
    width: 35%;
    animation: node 3s 1s 5 forwards;
  }
  .sqlBar {
    width: 85%;
    animation: sql 3s 1s 5 forwards;
  }
  
  @keyframes html {
    0% {
      width: 0%;
    }
    100% {
      width: 95%;
    }
  }
  @keyframes css {
    0% {
      width: 0%;
    }
    100% {
      width: 70%;
    }
  }
  @keyframes js {
    0% {
      width: 0%;
    }
    100% {
      width: 75%;
    }
  }
  @keyframes java {
    0% {
      width: 0%;
    }
    100% {
      width: 85%;
    }
  }
  @keyframes ccp {
    0% {
      width: 0%;
    }
    100% {
      width: 80%;
    }
  }
  @keyframes react {
    0% {
      width: 0%;
    }
    100% {
      width: 70%;
    }
  }
  @keyframes node {
    0% {
      width: 0%;
    }
    100% {
      width: 35%;
    }
  }

  @keyframes sql {
    0% {
      width: 0%;
    }
    100% {
      width: 85%;
    }
  }
  .skills{
    position: absolute;
    top: 1400px;
    left: 400px;
    width: 900px;
  }

  .skl{
    color: black;
    font-weight: bold;
    font-size: 30px;
    position: absolute;
    top: -100px;
    left: 400px;
    
  }